@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
p {
  text-align: justify;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.grid-col {
  grid-column: 1/ -1;
}

.rate {
  top: -19px;
  left: 10px;
}

.burger {
  display: none;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .burger {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.4s ease-in-out;
  }
  .burger::after,
  .burger::before {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease;
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .burger.active span {
    display: none;
  }

  .menuNav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 2;
    left: 0;
    background: rgb(134, 124, 124);
    overflow: auto;
    transition: all 0.4s ease;
    padding: 100px;
  }
  .menuNav.active {
    top: 0;
  }
}

.card:hover .cardImg {
  opacity: 0.9;
  min-width: 110%;
}
.card:hover .card-title {
  font-size: 1.1rem;
}
.para {
  min-width: 180px;
}
@media (min-width: 567px) {
  .para {
    min-width: 220px;
  }
}

.cardModal {
  display: none;
}

.card:hover .cardModal {
  display: flex;
}
